version: '2'
services:
  tomcat:
    container_name: "{{ tomcat_container }}"
    build: "{{ directory }}/docker/tomcat"
    image: "{{ tomcat_image }}:{{ tag }}"
    restart: always
    privileged: true
    ports:
      - "8888:8080"

