version: '2'
services:
  nginx:
    container_name: "{{ nginx_container }}"
    build: "{{ directory }}/docker/nginx"
    image: "{{ nginx_image }}:{{ tag }}"
    restart: always
    privileged: true
    ports:
      - "8080:80"

